<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/styles.css" />
        <link href="https://fonts.cdnfonts.com/css/death-font" rel="stylesheet">
        <link href="https://db.onlinewebfonts.com/c/a3cd6762eede2ec51f8999878ddc0b1e?family=CCSoliloquous+W00+Regular+V1" rel="stylesheet">
        <link href="https://db.onlinewebfonts.com/c/3d73cd0279f4c3db9b4f7db0305164f6?family=RansomNote" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/death-note-font" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>For Real?</title>
    </head>
    <div>
        <div class="background-container">
            <div class="inputContainer">
                <div class="container" id="animatedContainer">
                    <div class="dot"></div>
                    <div class="light-beam"></div>
                    <div class="upload-box">
                        <div class="upload-section">
                            <div class="content">
                                <div class="box">
                                    <!-- UPLOAD AUDIO -->
                                    <img
                                        src="../static/images/upload.png"
                                        id="upload-button"
                                        class="button-image"
                                        alt="Upload Button"
                                        onclick="document.getElementById('file-input').click()"
                                    />
                                    <input
                                        type="file"
                                        id="file-input"
                                        accept="audio/*"
                                        onchange="handleFileUpload(this.files)"
                                        style="display: none"
                                    />
                                    <div id="file-info" style="display: none">
                                        <p id="file-name"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Animation loading -->
                        <div id="loading" class="loading" style="display: none">
                            <div class="loader">
                                <div class="bar1"></div>
                                <div class="bar2"></div>
                                <div class="bar3"></div>
                                <div class="bar4"></div>
                                <div class="bar5"></div>
                                <div class="bar6"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="containerP" id="animatedContainerP" style="display: none;">
                    <div class="dot1"></div>
                    <div class="light-beam"></div>
                    <div class="predict-box">
                        <div class="predict-section">
                            <div class="contentP">
                                <div class="box">
                                </div>
                                <img class="imageBasedOnModel" id="prediction-image" src="../static/images/propose.png">
                                <p id="prediction-percentage">
                                    <span id="prediction-label"></span>
                                    <!-- Bonafide or Deepfake prediction -->
                                </p>
                                <div class="prediction-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 204 51" width="204" height="51" style="cursor: pointer;">
                                        <rect id="colorRect" x="0" y="0" width="204" height="51" rx="25.5" ry="25.5" fill="#BE0500" />
                                        <text x="102" y="31.45" font-family="Fontsona5JP" font-size="15" fill="white" text-anchor="middle">More Information</text>
                                    </svg>

                                    <!-- Change Color when deepfake: #ef4444 and bonafide: #4CAF50 dun sa fill part -->
                                </div>
                                <img
                                    src="../static/images/reupload.png"
                                    id="reupload-button"
                                    class="reuploadBtn"
                                    alt="Reupload Button"
                                    onclick="handleReupload()"
                                />
                            </div>
                            <!-- YUNG DITO SA PART NATO YUNG BAGONG POP UP SA JS SA BABA MO SYA MAKIKITA -->
                            <div class="popUpMoreInfo">
                                <div class="containerM">
                                    <div class="close-btn">x</div>
                                    <div class="text-container">
                                        <div class="label">Our Threshold : <span id="thresholdValue"></span></div>
                                        <div class="label" id="probability">Probability : 0.00</div>
                                        <div class="result" id="result"></div>
                                    </div>
                                    <div class="progress-container">
                                        <div class="progress-bar" id="progressBar"></div>
                                        <div class="threshold-line" id="thresholdLine"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="containerI" id="animatedContainerI" style="display: none;">
                    <div class="dot1"></div>
                    <div class="light-beam"></div>
                    <div class="info-box">
                        <div class="info-section">
                            <div class="contentI">
                                <div class="box">
                                    <p class="info-title">INFORMATION</p>
                                    <p class="info-text">"For Real?" Audio DeepFake Detection system uses a combination of CQT, GFCC, and WavLM. Features together with an XGBoost Classifier trained on ASVspoof2019 LA training Dataset.</p>
                                    <p class="info-title">DISCLAIMER</p>
                                    <p class="info-text">While we strive to provide accurate results, the system is not guaranteed to be 100% correct in all cases. Audio deepfakse are evolving and the system's predictions may vary based on numerous factors, including the quality of the audio and the presence of the real-world noise. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="viewInfo"><a class="arrow arrow-right" title="Model Information"></a>
                </div>
                <!-- SWITCH MODEL STRUCTURE -->
                <div id="info-button-container">
                    <button id="info-button">i</button>
                    <div id="switch-model-container" style="display: none;">
                        <span id="switch-model-title">Switch Model</span>
                        <div id="switch-model-options">
                            <span class="model opt">Proposed</span>
                            <label class="switch">
                                <input type="checkbox" id="model-switch">
                                <span class="slider"></span>
                            </label>
                            <span class="model opt">Baseline</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="transition-overlay"></div>
        </div>
    </body>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const container = document.getElementById("animatedContainer");
                const containerP = document.getElementById("animatedContainerP");
                const containerI = document.getElementById("animatedContainerI");
                const fileInput = document.getElementById("file-input");
                const fileInfo = document.getElementById("file-info");
                const fileNameDisplay = document.getElementById("file-name");
                const viewInfoButton = document.querySelector(".viewInfo");
                const arrow = viewInfoButton.querySelector(".arrow");
                const loading = document.getElementById("loading");
                const uploadButton = document.getElementById("upload-button");
                const uploadBox = document.querySelector(".upload-box");
                const overlay = document.getElementById('transition-overlay');

                let currentContainer = container;
                
                let selectedModel = sessionStorage.getItem('selectedModel') || 'proposed';
                
                // SWITCH MODEL
                const infoButton = document.getElementById('info-button');
                const switchModelContainer = document.getElementById('switch-model-container');
                const modelSwitch = document.getElementById('model-switch');

                infoButton.addEventListener('click', () => {
                    if (switchModelContainer.style.display === 'none') {
                        switchModelContainer.style.display = 'block';
                    } else {
                        switchModelContainer.style.display = 'none';
                    }
                });

                // Hide the switch model container when clicking outside of it
                document.addEventListener('click', (event) => {
                    // Check if the click is outside the switch model container
                    if (!switchModelContainer.contains(event.target) && event.target !== infoButton) {
                        switchModelContainer.style.display = 'none';
                    }
                });

                // Set session storage for user's model choice
                modelSwitch.addEventListener('change', () => {
                    selectedModel = modelSwitch.checked ? 'baseline' : 'proposed';
                    console.log('Model switched:', selectedModel);
                    
                    sessionStorage.setItem('selectedModel', selectedModel);
                });

                // MORE INFO ABOUT MODEL OUTPUT
                const progressBar = document.getElementById("progressBar");
                const probabilityDisplay = document.getElementById("probability");
                const resultDisplay = document.getElementById("result");
                const thresholdDisplay = document.getElementById("thresholdValue");
                const thresholdLine = document.getElementById("thresholdLine");
                const threshold = 0.57;

                function updateUI(prob, model) {

                    let threshold = model === 'proposed' ? 0.57 : 0.10;

                    // Update the displayed threshold value
                    thresholdDisplay.textContent = threshold.toFixed(2);

                    progressBar.style.height = `${prob * 100}%`;
                    progressBar.style.backgroundColor =
                        prob >= threshold ? "#FF4136" : "#4CAF50";
                    probabilityDisplay.textContent = `Probability : ${prob.toFixed(2)}`;
                    resultDisplay.textContent =
                        prob >= threshold
                            ? "Your Audio is more likely to be a deepfake audio"
                            : "Your Audio is more likely to be a bonafide audio";

                    // Adjust the threshold line position based on the selected model threshold
                    thresholdLine.style.bottom = `${threshold * 100}%`;

                    // Change the rect color based on the prediction result
                    const rectElement = document.getElementById("colorRect");
                    rectElement.setAttribute("fill", prob >= threshold ? "#ef4444" : "#4CAF50");
                }

                function updatePredictionUI(model, prediction) {
                    const predictionImage = document.getElementById("prediction-image");

                    // Logic to update the image based on model and prediction
                    if (model === 'proposed') {
                        if (prediction === 'Spoof') {
                            predictionImage.src = "../static/images/propose.png";
                        } else if (prediction === 'Bonafide') {
                            predictionImage.src = "../static/images/proposeBonafide.png";
                        }
                    } else if (model === 'baseline') {
                        if (prediction === 'Spoof') {
                            predictionImage.src = "../static/images/base.png";
                        } else if (prediction === 'Bonafide') {
                            predictionImage.src = "../static/images/baselineBonafide.png";
                        }
                    }
                }
                
                // Handle file upload
                window.handleFileUpload = (files) => {
                    if (files.length > 0) {
                        const file = files[0];
                        const fileName = file.name;

                        // Allowed file types (WAV, MP3, FLAC)
                        const allowedTypes = ['audio/wav', 'audio/x-wav', 'audio/mpeg', 'audio/flac'];
                        const allowedExtensions = ['wav', 'mp3', 'flac'];

                        const fileExtension = file.name.split('.').pop().toLowerCase();

                        // Check MIME type and file extension
                        if (!allowedTypes.includes(file.type) || !allowedExtensions.includes(fileExtension)) {
                            alert('Invalid file type. Only WAV, MP3, or FLAC files are allowed.');
                            return;
                        }


                        fileNameDisplay.textContent = fileName;
                        fileInfo.style.display = "block";
                        uploadButton.style.display = "none";
                        loading.style.display = "block";

                        const formData = new FormData();
                        formData.append('file', files[0]);

                        // Send file and model choice to Flask backend
                        fetch('/predict', {
                            method: 'POST',
                            body: formData,
                            headers: {
                                'Model-Type': selectedModel
                            }
                        })
                        .then(response => response.json())
                        .then(data => {
                            loading.style.display = "none";
                            container.classList.add("pull-up");

                            container.addEventListener("animationend", () => {
                                container.style.display = "none";
                                setTimeout(() => {
                                    containerP.style.display = "block";
                                    containerP.classList.add("show");
                                    currentContainer = containerP;

                                    // Update UI with prediction results
                                    const probability = data.probability;
                                    const prediction =  data.prediction;
                                    document.getElementById("prediction-label").textContent = prediction;
                                    updatePredictionUI(selectedModel, prediction);
                                    updateUI(probability, selectedModel);
                                }, 100);
                            }, { once: true });
                        })
                        .catch(error => {
                            loading.style.display = "none";
                            alert('Error during file upload: ' + error);
                        });
                    }
                };

                // Add this new function to handle reupload
                window.handleReupload = () => {
                    overlay.classList.add('active');

                    setTimeout(() => {
                        // Set a session storage flag
                        sessionStorage.setItem('reloading', 'true');
                        window.location.reload();
                    }, 100);
                };
                if (sessionStorage.getItem('reloading') === 'true') {
                    // Remove the flag
                    sessionStorage.removeItem('reloading');

                    // Keep the overlay visible initially
                    overlay.classList.add('active');

                    // Fade out the overlay
                    setTimeout(() => {
                        overlay.classList.remove('active');
                    }, 25);
                }

                // Handle view info button click
                viewInfoButton.addEventListener("click", () => {
                    if (arrow.classList.contains("arrow-right")) {
                    // Hide current container and show containerI
                    currentContainer.style.display = "none";
                    containerI.style.display = "block";
                    containerI.classList.add("show");
                    arrow.classList.remove("arrow-right");
                    arrow.classList.add("arrow-left");
                    arrow.setAttribute("title", "Back to Upload/Predict");
                    } else {
                    // Hide containerI and show previous container
                    containerI.style.display = "none";
                    containerI.classList.remove("show");
                    currentContainer.style.display = "block";
                    arrow.classList.remove("arrow-left");
                    arrow.classList.add("arrow-right");
                    arrow.setAttribute("title", "Model Information");
                    }
                });
            });

            // POP UP RELATED CODE
            const moreInfoButton = document.querySelector('.prediction-text svg');
            const popUpMoreInfo = document.querySelector('.popUpMoreInfo');
            const closeBtn = document.querySelector('.close-btn');
            const overlay = document.getElementById('overlay');

            moreInfoButton.addEventListener('click', () => {
                popUpMoreInfo.style.display = 'block';
                overlay.style.display = 'block';
            });

            closeBtn.addEventListener('click', () => {
                popUpMoreInfo.style.display = 'none';
                overlay.style.display = 'none';
            });

            overlay.addEventListener('click', () => {
                popUpMoreInfo.style.display = 'none';
                overlay.style.display = 'none';
            });

        </script>
    </body>
</html>
